{% extends 'layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include 'layouts/partials/_navbar.html.twig' %}
    <h1>Bienvenue sur sym_review </h1>
   {% endblock %}
