<!DOCTYPE html>
<html lang="fr" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Review Sym{% endblock %}</title>

    <!-- Tailwind CSS CDN (version complète avec toutes les classes) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Modal pour la suppression -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

    <!-- Icone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Configuration personnalisée optionnelle -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#4f46e5',      // indigo-600
                        primarydark: '#4338ca',  // indigo-700
                    }
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const flashMessages = document.querySelectorAll('.flash-message');

            flashMessages.forEach(function (msg) {
                // Disparaît après 3 secondes (3000 ms)
                setTimeout(function () {
                    msg.style.opacity = '0';
                    msg.style.transform = 'translateY(-10px)';
                    // Supprime complètement l'élément après la transition (300ms)
                    setTimeout(function () {
                        msg.remove();
                    }, 300);
                }, 3000);
            });
        });
    </script>

    {% block head %}{% endblock %}
</head>
<body class="min-h-screen bg-gray-50 antialiased">

    {% include 'layouts/partials/_flash_messages.html.twig' %}

    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 **pt-20** pb-8">
        {% block body %}{% endblock %}
    </main>

    {% block javascripts %}{% endblock %}
</body>
</html>
